<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nucleus</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <header class="header">
      <div class="header__contenedor">
        <div class="header__barra">
          <div class="header__logo">
            <picture>
              <img
                loading="lazy"
                width="500"
                height="300"
                src="./assets/img/logo.svg"
                alt="Logo-Nucleus"
              />
            </picture>
          </div>
          <nav class="nav">
            <a class="nav__link" href="#nucleus">¿Qué es?</a>
            <a class="nav__link" href="#seguridad">¿Cómo funciona?</a>
            <a class="nav__link" href="#precios">Precios</a>
            <a class="nav__link" href="#">Contratar</a>
          </nav>
        </div>
        <div class="header__grid">
          <div class="header__texto">
            <h1 class="header__titulo">
              Recibe y realiza pagos en tu celular con nuestra app
            </h1>
            <a class="header__btn" href="#">Obtener Cuenta</a>
          </div>
          <div class="header__grafico">
            <picture>
              <img
                class="header__img"
                loading="lazy"
                width="500"
                height="300"
                src="./assets/img/app_1.svg"
                alt="Imagen-App"
              />
            </picture>
            <img />
          </div>
        </div>
      </div>
    </header>
    <main class="nucleus" id="nucleus">
      <h2 class="nucleus__titulo">¿Qué es?</h2>
      <div class="nucleus__contenedor">
        <div class="nucleus__grid">
          <div class="nucleus__imagen">
            <picture>
              <img
                loading="lazy"
                width="500"
                height="300"
                src="./assets/img/app_2.svg"
                alt=""
              />
            </picture>
          </div>
          <div class="lista">
            <div class="lista__elemento">
              <h2 class="lista__titulo">Fácil</h2>
              <p class="lista__texto">
                Crea una cuenta, envía tu documentación y comienza a utilizar
                Nucleus en un par de minutos
              </p>
            </div>
            <div class="lista__elemento">
              <h2 class="lista__titulo">Seguro</h2>
              <p class="lista__texto">
                Por su tecnología digital, Nucleus es imposible de hackear
              </p>
            </div>
            <div class="lista__elemento">
              <h2 class="lista__titulo">Administrable</h2>
              <p class="lista__texto">
                Añade o transfiere fondos a tu banco, añade límites y controla
                tus gastos
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <section class="seguridad" id="seguridad">
      <div class="seguridad__contenedor">
        <h2 class="seguridad__titulo">Nucleus es seguro</h2>
        <div class="seguridad__grid">
          <div class="lista">
            <div class="lista__elemento">
              <p class="lista__texto">
                Nucleus es seguro e imposible de clonar
              </p>
            </div>
            <div class="lista__elemento">
              <p class="lista__texto">
                Utiliza tu cara o huella digital para confirmar un depósito
              </p>
            </div>
            <div class="lista__elemento">
              <p class="lista__texto">
                Paga en establecimientos físicos con tu tarjeta de crédito que
                puedes desactivar en cualquier momento
              </p>
            </div>
          </div>
          <div class="seguridad__imagen">
            <picture>
              <source srcset="./assets/img/seguridad.avif" type="image/avif" />
              <source srcset="./assets/img/seguridad.webp" type="image/webp" />
              <img
                loading="lazy"
                width="500"
                height="300"
                src="./assets/img/seguridad.png"
                alt="Seguridad-Nucleus"
              />
            </picture>
          </div>
        </div>
      </div>
    </section>
    <section class="comisiones" id="precios">
      <div class="comisiones__contenedor">
        <h2 class="comisiones__titulo">Comisiones</h2>
        <div class="comisiones__grid">
          <div class="comisiones__contenido">
            <p class="comisiones__texto">Mientras más lo uses, menos pagas</p>

            <div class="lista">
              <div class="lista__elemento lista__elemento--2col">
                <p class="lista__numero">3%</p>
                <p class="lista__texto">
                  En todas tus transacciones si tus movimientos son menores a
                  <span class="lista__texto--morado">$19,999 MXN</span>
                </p>
              </div>
              <div class="lista__elemento lista__elemento--2col">
                <p class="lista__numero">2.5%</p>
                <p class="lista__texto">
                  De todas tus transacciones si tus movimientos son mayores a
                  <span class="lista__texto--morado">$19,999 MXN</span>
                </p>
              </div>
            </div>
          </div>
          <div class="comisiones__imagen">
            <picture>
              <img
                loading="lazy"
                width="500"
                height="300"
                src="./assets/img/app_3.svg"
                alt="App-Nucleus"
              />
            </picture>
          </div>
        </div>
      </div>
    </section>
    <section class="testimoniales">
      <div class="testimoniales__contenedor">
        <h2 class="testimoniales__titulo">Testimonios</h2>
        <div class="testimoniales__grid">
          <div class="testimonial">
            <p class="testimonial__texto">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Eligendi?
            </p>
            <p class="testimonial__autor">Lorem ipsum.</p>
          </div>
          <div class="testimonial">
            <p class="testimonial__texto">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Eligendi?
            </p>
            <p class="testimonial__autor">Lorem ipsum.</p>
          </div>
          <div class="testimonial">
            <p class="testimonial__texto">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Eligendi?
            </p>
            <p class="testimonial__autor">Lorem ipsum.</p>
          </div>
          <div class="testimonial">
            <p class="testimonial__texto">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Eligendi?
            </p>
            <p class="testimonial__autor">Lorem ipsum.</p>
          </div>
          <div class="testimonial">
            <p class="testimonial__texto">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Eligendi?
            </p>
            <p class="testimonial__autor">Lorem ipsum.</p>
          </div>
          <div class="testimonial">
            <p class="testimonial__texto">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Eligendi?
            </p>
            <p class="testimonial__autor">Lorem ipsum.</p>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="footer__contenedor">
        <div class="footer__grid">
          <div class="footer__logo">
            <picture>
              <img
                loading="lazy"
                width="500"
                height="300"
                src="./assets/img/logo-blanco.svg"
                alt="Logo"
              />
            </picture>
          </div>
          <nav class="nav">
            <a class="nav__link nav__link--blanco" href="#nucleus">¿Qué es?</a>
            <a class="nav__link nav__link--blanco" href="#seguridad"
              >¿Cómo funciona?</a
            >
            <a class="nav__link nav__link--blanco" href="#precios">Precios</a>
            <a class="nav__link nav__link--blanco" href="#">Contratar</a>
          </nav>
        </div>
      </div>
    </footer>
  </body>
</html>
